#Table
    {padding:5px}
#container
    {background-color:white;
    padding:0;
    margin:0 auto;
    width:450px;
    height:450px;}
#First
    {background-color:lightblue;
    float:left;
    height:150px;
    width:150px;}
#Second
    {background-color: antiquewhite;
    float:left;
    height:150px;
    width:150px;}
a:link
    {background-color: transparent;
    text-decoration: none;}
a:visited
    {background-color: transparent;
    text-decoration: none;}
a:hover
    {color:#527ecc;
    background-color: transparent;
    text-decoration: none}
a:active
    {color:white;
    background-color: transparent;
    text-decoration: underline}

.logoimg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}