<html>
<head>
    <title>Coinqual</title>
        </head>
<body>
<p>Hahahaha so funny</p>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}

<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<p>
{% load static %}
    <a href="http://www.coinqual.com/polls">
        <img border ="0" alt="polls" src="{% static 'contacts.png' %}">
    </a></p>
</body>
</html>
