<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>CoinQual</title>
    <link rel="stylesheet" href="coinqualstyle.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<header style="text-align:center">
    <p>

    <div style="text-align:center" class="g-signin2" data-onsuccess="onSignIn" data-theme="light" data-width="300" data-height="50" data-longtitle="true">Gbutton</div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
    </p>
    <a href="http://www.coinqual.com/"target="_self"><h1 style="font-family:Verdana;font-size:300%; width:300px"><span style="color:#527ecc">C</span>oin<span style="color:#527ecc">Q</span>ual</h1></a>
    <a href="http://www.coinqual.com/polls"> <h1> Let's go to our Poll Site !</h1></a>
    <h5>by Tyler, Ted, Chris, Jeonggyu, and Daniel </h5>

</header>

<body style="text-align:center;">
<P>&nbsp;</P>
<table>
    <table width="100%"border="1">
        <TR>
            <TH ALIGN="CENTER"><div id="Table">About</div></TH>
            <TH ALIGN="CENTER"><div id="Table">Trade</div></TH>
            <TH ALIGN="CENTER"><div id="Table">News</div></TH>
            <TH ALIGN="CENTER"><div id="Table">Charts</div></TH>
        </TR>
    </table>
    <!--class 는 오히려 다수, id는 유니크한거-->
</table>
<P>&nbsp;</P>
<div id="container">
    <div id="First"><p title="will be updated soon">First Charts and Graph</p></div>
    <div id="Second"><p title="will be updated soon">Second Charts and Graph</p></div>
</div>
<a href="http://www.google.com/">Buy</a>
<a href="http://www.google.com/">Sell</a>

<P>&nbsp;</P>
<footer>
    <p>© 2018 CoinQual</p>
    <div>+1 ($$$) $$$-$$$$</div>
    </p>
    <p>
        <a href="mailto:eocjf17@gmail.com">Support.CoinQual.com</a>
    </p>
</footer>
</body>

</html>