<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'polls/main.html' %}

{% block content1 %}
<form method="post" action= "{% url 'main' %}">{% csrf_token %}

    {% for field in form2 %}

        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: #358035">{{ field.help_text }}</small>
        {% endif %}
    {% endfor %}

<button type="submit">summit</button>
</form>


{% endblock %}

</body>
